/*
 * Autor: William Silva (https://github.com/unclWill)
 * Data : 22/01/2024
 * Curso: Imersão Alura Front-end 2024
 */

body {
  background-color: #000;
}

/*Painel de navegação principal*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 12px;
  width: 300px;
}

.sidebar__navigation {
  background-color: #121212;
  border-radius: 8px;
  padding: 16px 0 0 16px;
}

.siderbar__navigation .logo {
  background: #121212;
  display: flex;
  border-radius: 8px;
  padding: 16px 0 0 16px;
}

.logo img {
  width: 80px;
}

.sidebar__navigation .logo img {
  width: 80px;
}

.sidebar nav ul {
  margin-top: 20px;
  padding: 0 20px 10px 0;
}

.sidebar ul li {
  padding: 10px 0;
}

.sidebar nav ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  font-family: "DM-Sans", sans-serif;
}

/*Painel de navegação da Biblioteca*/
.library_sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 165px 0 0 12px;
  width: 300px;
}

.library__navigation {
  background-color: #121212;
  border-radius: 8px;
  padding: 16px 0 0 16px;
}

.library_sidebar nav ul {
  margin-top: 5px;
  padding: 0 20px 10px 0;
}

.library_sidebar ul li {
  padding: 5px 0;
}

.library_sidebar nav ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  font-family: "DM-Sans", sans-serif;
}
